/* Declarar estilos globales.  */
@import "tailwindcss";

:root {
  background: linear-gradient(to bottom, oklch(80.893% 0.14318 217.574), oklch(87.857% 0.0554 215.172));
  --black: oklch(0 0 0);
  --skyblue: oklch(80.74% 0.134 220.62);
  --white: oklch(1 0 0);
  --yellow: #FFD60A;
  --yellowHover: #F2C400;
  --ink: #111111;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: oklch(0 0 0);
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  display: flex;
}
main {
  width: -webkit-fill-available;
}